
    :root{
        --corFundo: rgb(92, 92, 240);
        --corDiv: #ffffff;
    }
  
  
body{
    background: var(--corFundo);
    font: normal 1rem Arial;
    display: flex;
    flex-direction: column;
}
header{
    color: var(--corDiv);
    text-align: center;
}
section{
    
    background-color: var(--corDiv);
    border-radius: 10px;
    padding: 15px;
    width: 50%;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
}
#txt{
    width: 50%;
    padding: 10px;
    border: none;
    border-bottom: black 1px solid;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}
#txt:focus{
    border-color: var(--corFundo);
}
#textos{
    text-align: center;
}
button{
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
button:hover{ 
    background-color: var(--corFundo);
    color: var(--corDiv);
}


.CoisasTarefa{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    list-style: none;
    margin-bottom: 10px;
    border-radius: 1px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;

}
.tarefa{
    margin-right: auto;
    word-wrap: break-word;
    width: 200px;
}
.alarme{
    background-image: url(./imagem/relogio.png);
}
.sublinhar{
    margin-inline: 10px;
    background-image: url(./imagem/tachado.png);
}
.excluir{
    background-image: url(./imagem/lixeira.png);
}
.sublinhar .excluir .alarme{
    cursor: pointer;
    border: none;
    background-color:var(--corDiv);
    min-height: 20px;
    padding: 10px 10px;
}

.sublinhado{
    text-decoration: line-through;
}
/*inicio config alarme*/
.blur{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Define a cor de fundo com transparência */
    z-index: 9999;
}

.configAlarme{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--corDiv);
    width: 30%;
    height: 30%;
    border-radius: 5%;
    padding: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txtDate {
    width: 90%;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  
  .txtDate:focus {
    outline: none;
    border-color: #0066cc;
    box-shadow: 0 0 5px #0066cc;
  }

  
.btn_fechar{
    position: absolute;
    top: 5%;
    left: 5%;
    transition: 00.3s;
    background-image: url(./imagem/fechar.png);
}
.btn_fechar:hover{
    scale: 1.3;
}
footer{
    color: var(--corDiv);
    text-align: center;
}

